
* {
    font-family: Roboto, 'Times New Roman', serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.header {
    background: #1F2937;
    color: white;
    margin: 0px;
    height: 500px;
}

.header .hero {
    display: flex;
    font-size: 18px;
    /* border: 3px solid white; */
    align-items: center;
    gap: 25px;
    padding: 30px;
    justify-content: right;
}

.header .hero h6 {
    font-size: 24px;
    margin-right: auto;
}

.header .hero div {
    /* border: 1px solid white; */
    font-weight: lighter;
}

.introduction {
    font-size: 18px;
    padding: 30px;
    display: flex;
    margin-top: 40px;
    gap: 45px;
}

.introduction .mainintro {
    display: flex;
    flex-direction: column;
    gap:10px;
}
.introduction .mainintro h4 {
    font-size: 48px;
}

.introduction .mainintro button {
    color: white;
    font-weight: bold;
    font-size: 20px;
    background-color: #3882F6 ;
    padding: 15px;
    border: none;
    border-radius: 14px;
    width: 170px;
}

.introduction .placeholder{
    display: flex;
    width: 575px;
    padding: 20px;
    background: gray;
    border: none;
    justify-content: center;
    align-items: center;
}

.main {
    padding: 25px;
    margin: 25px;
}

.main h2 {
    text-align: center;
    font-size: 30px;
}

.main .boxes {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.main .boxes div {
    margin-top: 25px;
    border: 3px solid #3882F6;
    border-radius: 16px;
    width: 150px;
    height: 150px;
}

.main .text {
    display: flex;
    margin-top: 5px;
    gap: 32px;
    justify-content: center;
    align-items: center;
}
.main .text div {
    color: gray;
    width: 140px;
    text-align: center;
}